a{
color: rgb(0, 0, 0);
text-decoration: none;
}
a:hover{
    color: black;
}
section {
    width: 60%;
    margin: auto;
    text-align: center;
}
.inner-link {
    background-color: tan;
    padding: 20px;
    transition: 0.1s ease-in;
}
.inner-link:hover {
    background-color: transparent;
    border: 2px solid aqua;
}
aaaaaa

{
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: normal;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    color: inherit;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    padding-left: 66px;
    padding-right: 66px;
  }